<style>
    #flash-container {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 5%;
        left: 50%;
        transform: translateX(-50%);
        z-index: 15;
    }
</style>

<!-- Dynamic Flash Message Container -->
<div id="flash-container">
    <!-- Message Alerts -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>