<style>
    .hidden-input {
        display: none;
    }
</style>

<div class="modal fade" id="passwordModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-3 mx-auto">Enter a password</h1>
                <button type="button" class="btn-close" style="margin-left: 0px;" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <div class="hidden-input">
                    <input id="hidden-user-id">
                </div>
                <label class="form-label" for="tempPassword">Password:</label>
                <input id="tempPassword" name="password" class="form-control has-validation" type="password" required>
                <div class="invalid-feedback"></div>
            </div>
            <div class="modal-footer d-flex justify-content-between">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary disabled" id="confirmPassword" data-bs-target="" data-bs-toggle="">Continue</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="confirmPasswordChange" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-3 mx-auto">Confirm Password Change?</h1>
                <button type="button" class="btn-close" style="margin-left: 0px;" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-footer d-flex justify-content-between" style="border-top: 0px;">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-warning" id="confirmPasswordChangeBtn">Confirm</button>
            </div>
        </div>
    </div>
</div>

<script>
    // Temp password validation event handler
    $('#tempPassword').on('input', function(){
        const feedback_div = $(this).siblings().closest('.invalid-feedback');
        const val = $(this).val();

        if (!(val.length > 6)){
            addFeedback(feedback_div, 'Password must be greater than 6 characters', this);
            $('#confirmPassword').addClass('disabled');
        } else {
            $('.is-invalid').removeClass('is-invalid');
            $('#confirmPassword').removeClass('disabled');
        }
    });
</script>