{% extends "layouts/base.html" %}
{% block title %} Dashboard {% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">

<div class="dashboard-container">
    <div id="employeesPage">
        <div class="card" href="{{ url_for('employees.index') }}">
            <div class="card-body">
                <i class="fas fa-clipboard fa-2xl position-absolute top-0 end-0 m-4 pt-2"></i>
                {% if current_user.admin %}
                <h5 class="card-title">All Employee Records</h5>
                <h6 class="card-subtitle mb-2">View, modify, and manage all employee records.</h6>
                {% elif current_user.is_manager %}
                <h5 class="card-title">Team Records</h5>
                <h6 class="card-subtitle mb-2">View, modify, and manage all employee records in your team.</h6>
                {% else %}
                <h5 class="card-title">My Record</h5>
                <h6 class="card-subtitle mb-2">View your employee record.</h6>
                {% endif %}
                <hr>

                {% if current_user.admin %}
                <p class="card-text">
                    View and manage all employee records including personal details, performance statistics, and leave balances.
                </p>
                <p>
                    As an admin you can also add, edit, or delete employee records directly from this page.
                </p>
                {% elif current_user.is_manager %}
                <p class="card-text">
                    View all employee records in your team as read-only including personal details, performance statistics, and leave balances.
                </p>
                {% else %}
                <p class="card-text">
                    View all your personal employee record details including performance statistics, leave balances, and more.
                </p>
                {% endif %}
            </div>
        </div>
    </div>
    <div id="leavePage">
        <div class="card" href="{{ url_for('leave.index') }}">
            <div class="card-body">
                <i class="fas fa-calendar-days fa-2xl position-absolute top-0 end-0 m-4 pt-2"></i>
                {% if current_user.admin %}
                <h5 class="card-title">Process Leave</h5>
                <h6 class="card-subtitle mb-2">Process any active leave requests for all employees.</h6>
                {% elif current_user.is_manager %}
                <h5 class="card-title">Process Leave</h5>
                <h6 class="card-subtitle mb-2">Process any active leave requests for all employees in your team.</h6>
                {% else %}
                <h5 class="card-title">Manage Leave</h5>
                <h6 class="card-subtitle mb-2">View or create new leave requests.</h6>
                {% endif %}
                <hr>
                {% if current_user.admin %}
                <p class="card-text">
                    As an admin you can process leave requests from all employees, including approving or rejecting leave applications.
                </p>
                <p>
                    You may also request leave for yourself, approval for this request must come from another administrator.
                </p>
                {% elif current_user.is_manager %}
                <p class="card-text">
                    As a manager you can process leave requests from all employees within your team, including approving or rejecting leave applications.
                </p>
                <p>
                    You may also request leave for yourself, approval for this request must come from either your manager (if applicable), or an administrator.
                </p>
                {% else %}
                <p class="card-text">
                    View your leave balance, submit new leave requests, and track the status of your applications.
                </p>
                <p>
                    Easily manage your time off and stay informed about your leave history.
                </p>
                    Approval for leave requests must come from either your manager (if applicable), or an administrator.
                </p>
                {% endif %}
            </div>
        </div>
    </div>
    <div id="accountsPage">
        <div class="card" href="{{ url_for('users.index') }}">
            <div class="card-body">
                <i class="fas fa-users fa-2xl position-absolute top-0 end-0 m-4 pt-2"></i>
                {% if current_user.admin %}
                <h5 class="card-title">Login Accounts</h5>
                <h6 class="card-subtitle mb-2">Amend employee user login details.</h6>
                {% elif current_user.is_manager %}
                <h5 class="card-title">Login Accounts</h5>
                <h6 class="card-subtitle mb-2">Amend your team's employee user login details.</h6>
                {% else %}
                <h5 class="card-title">Change Login Account Details</h5>
                <h6 class="card-subtitle mb-2">Amend account login details.</h6>
                {% endif %}
                <hr>
                {% if current_user.admin %}
                <p class="card-text">
                    As an admin, you can modify employee login accounts, including resetting passwords and updating usernames.
                </p>
                <p>
                    You can also create new accounts, reset forgotten passwords, and upgrade accounts to admin status if necessary.
                </p>
                <p>
                    This feature ensures that employee access to the system is secure and up-to-date.
                </p>
                {% elif current_user.is_manager %}
                <p class="card-text">
                    As a manager, you can partially-modify employee login accounts, including resetting passwords, updating usernames, and deleting logins.
                </p>
                <p>
                    Account creation is restricted and can only be done by an administrator, or through the creation of an employee account by an employee.
                </p>
                <p>
                    This feature ensures that employee access to the system is secure and up-to-date.
                </p>
                {% else %}
                <p class="card-text">
                    View and update your account details, such as your username and password.
                </p>
                    Keep your login information secure and up to date.
                </p>
                {% endif %}
            </div>
        </div>
    </div>
    {% if current_user.admin %}
    <div id="teamsManagementPage">
        <div class="card" href="{{ url_for('teams.index') }}">
            <div class="card-body">
                <i class="fas fa-sitemap fa-2xl position-absolute top-0 end-0 m-4 pt-2"></i>
                <h5 class="card-title">Team Management</h5>
                <h6 class="card-subtitle mb-2">Create and amend teams.</h6>
                <hr>
                <p class="card-text">
                    As an admin, you can create and modify teams of employees to create team hierarchies.
                </p>
                <p>
                    A team is made up of a manager and employees (who can be sub-managers).
                </p>
            </div>
        </div>
    </div>
    {% endif %}
    {% if current_user.admin or current_user.is_manager %}
    <div id="profileSettingsPage">
        <div class="card" href="{{ url_for('users.settings') }}">
            <div class="card-body">
                <i class="fas fa-user-gear fa-2xl position-absolute top-0 end-0 m-4 pt-2"></i>
                <h5 class="card-title">Change Personal Login Profile Account Details</h5>
                <h6 class="card-subtitle mb-2">Amend account login details.</h6>
                <hr>
                <p class="card-text">
                    View and modify personal login account details such as username or password, or even delete the login account entirely. 
                </p>
            </div>
        </div>
    </div>
{% endif %}
</div>

<script>
    $(document).ready(function() {
        $('.card').on('click', function(){
            window.location.href = $(this).attr('href');
        });
    });
</script>

{% endblock %}