main.container {
    display: flex;
    flex-direction: column;
    overflow: auto;
    min-height: 0;
}

.card-subtitle {
    color: var(--bs-secondary);
}
div div.card {
    height: 100%;
    transition: background-color 0.2s ease, box-shadow 0.2s ease, transform 0.2s ease, border 0.2s ease;
}
div div.card:hover{
    background-color: rgba(255, 166, 0, 0.15);
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
    color: white;
    transition: background-color 0.2s ease, box-shadow 0.2s ease, transform 0.2s ease, border 0.2s ease, color .15s;
    transform: scale(1.03);
    cursor: pointer;
    text-decoration: underline;
    border-left: 6px solid orange;
}
div div.card:hover .card-subtitle {
    color: white;
}
.card-body .header {
    display: flex;
    align-items: center;
}
.card-body .header .titles {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.dashboard-container {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex-wrap: wrap;
}
.dashboard-container #employeesPage {
    min-width: 100%;
}
.dashboard-container div {
    flex: 1 1 33%;
}