html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.main-flex-container {
    display: flex;
    height: calc(100vh - 64px);
    gap: 2rem;
    padding: 2rem 0rem 2rem 0rem;
}

.flex-child {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    min-height: 0;
}
.card {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    min-height: 0;
}
.card.mb-3 {
    flex: 1 1 40% !important; 
}
.card.calendar-card {
    flex: 1 1 60% !important; 
}

.card-header {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 41px;
}
.card-header .averages-text {
    margin-right: auto;
}
.card-title {
    flex: 3 3 auto;
}
#statistics-title {
    flex: 2 1 !important;
}

#addRecordBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    flex: 1;
    flex-wrap: nowrap;
    font-size: small;
    text-align: center;
}

input.form-control {
    border-radius: 0px;
}
input.bs.form-control {
    text-align: center;
}

div.employee-records {
    padding: 0px;
    flex: 1 1 0;
    min-height: 0;
    overflow-y: auto;
}
div.employee-records table {
    width: 100%;
}
#employee-records-body tr {
    display: table-row;
}
#employee-records-body tr:hover {
    cursor: pointer;
}
#records-header-controls {
    flex: 1;
}
#employee-stats-body .left span:not(.bs),
#employee-stats-body .center span:not(.bs),
#employee-stats-body .right span:not(.bs) {
    display: block;
    text-align: center;
}
#employee-stats-body div .label {
    font-weight: bold;
    color: orange;
}
#employee-stats-body .left{
    border-right: 1px solid var(--bs-secondary);
    overflow-y: auto;
}
#employee-stats-body .center{
    overflow-y: auto;
}
#employee-stats-body .right{
    border-left: 1px solid var(--bs-secondary);
    overflow-y: auto;
}
div.employee-records thead {
    display: none;
}
div.employee-records table .employee-name {
    font-weight: bold;
    text-align: end;
    padding-right: 1em;
    position: relative;
}

.hover-stats{
    opacity: 0.25;
}
.idle-calendar {
    opacity: 0.1;
}
.hover-calendar {
    opacity: 0.25;
}
.active-stats {
    opacity: 1;
}
.active-calendar {
    opacity: 1;
}
.selected-record td {
    transition: all 0.15s;
    background-color: orange;
    color: black;
}
.selected-record:hover td {
    transition: all .15s;
    background-color: rgba(255, 166, 0, 0.596);
    color: black;
}
td {
    transition: all 0.15s;
}

#employee-form {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    min-height: 0;
}
.card-body.stats {
    flex: 1 1 0;
    min-height: 0;
    overflow-y: auto;
}
.card-body.calendar-container {
    padding: 0.5em;
    flex: 1 1 0;
    min-height: 0;
    overflow-y: auto;
}

#viewSelector {
    min-width: 80px;
}

.averages-text {
    display: none;
    font-size: small;
    font-weight: bold;
    text-transform: capitalize;
    border: 1px solid orange;
    border-radius: 12px;
    padding: .25rem .5rem .25rem .5rem;
    box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.4);
}
.averages-text .value{
    color: orange;
}

/* Editing */
.editing-controls-container {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    flex-wrap: wrap;
}
.editing-controls-container button {
    display: flex;
    flex: 1 0;
    min-width: fit-content;
    justify-content: space-around;
    align-items: center;
}

.calendar-event:hover,
#tableView table td.Pending:hover,
#tableView table td.Rejected:hover,
#tableView table td.Approved:hover {
    outline: 3px solid black;
    border-radius: 3px;
    cursor: pointer;
}

#viewRequest .modal-body .date-info {
    text-align: center;
}
#viewRequest .modal-body .label {
    font-weight: bold;
    font-size: large;
}
.status-text {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: xx-large;
    font-weight: bold;
    color: orange;
}
